@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit, sans-serif;
}

.active hr {
  @apply block;
}

/* Hide scrollbar cross-browser */
::-webkit-scrollbar {
  display: none;
}
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

@media (max-width:740px) {
  .active p {
    @apply text-white bg-primary;
  }
}
